/*disktop view*/
body
{
	background: bisque;
}
h1
{
	color: orange;
}
p
{
	color:red;
}
h2
{
	color: blue;
}
h3
{
	color: orange;
}
h4
{
	color: brown;
}
.maindiv
{
	background: pink;
	margin: 2%;
	display: flex;
	justify-content: space-around;
	border-radius: 3%;

}
.left
{
	background: aqua;
	margin: 3%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	height: 50%;
	width: 45%;

}
.right
{
	background: lightgreen;
	border-radius: 5%;
	margin: 5%;
	box-shadow: 4px 4px 4px 4px;
	width: 80%;
	padding: 2%;

}
img
{
	border-radius: 50%;
	margin: 4PX;
	
}
/*mobile view*/
@media screen and (min-width: 0px) and (max-width: 480px)
{
	body
{
	background: #993d00;
}
.maindiv
{
	background: lightblue;
	display: inline-block;
	margin: 1%;
	justify-content: space-around;
	border-radius: 3%;

}
.left
{
	background:  lightgray;
	margin: 9%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	height: 90%;
	width: 80%;

}
.right
{
	background: #ff80ff;
	border-radius: 5%;
	margin: 3%;
	box-shadow: 4px 4px 4px 4px;
	width: 88%;
	padding: 2%;

}

}
/*tablet view*/
@media screen and (min-width: 480px) and (max-width:720px)
{
	body
{
	background: #993d00;
}
.maindiv
{
	background: #ffff33;
	margin: 1%;
	justify-content: space-around;
	border-radius: 3%;
	display: inline-block;
	width: 98%;

}
.left
{
	background:  #d580ff;
	margin: 9%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	height: 90%;
	width: 80%;

}
.right
{
	background: #cc6699;
	border-radius: 5%;
	margin: 8%;
	box-shadow: 4px 4px 4px 4px;
	width: 80%;
	padding: 2%;

}

}